/* Home page css statrt here  */

.hero{
    height: 90vh;
    padding-top: 10vh;
    /* text-align: center; */
    position: relative;
    width: 100%;
    /* background: rgb(228, 227, 227); */
    /* background-image: url('../Images/Sprinkle.svg'); */
    /* opacity: 0.5; */
}
.herobrand{
    color: #FF731D;
}
.hero .div{
    position: absolute;
    top: 30%;
    left: 25%;
    /* border: 1px solid red; */
    z-index: 5;
}
.hero img{
    position: fixed;
    z-index: -1;
    opacity: 0.4;
    /* top: 10vh; */
    object-fit: cover;
    width: 100%;
    height: 90vh;
    /* border: 1px solid red; */
    
}
.hero div h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 30px;
    color: rgb(67, 65, 65);
}
.hero div p{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 10px;
    color: rgb(67, 65, 65);
}
/* .mask{
    height: 90vh;
    width: 100%;
    background-color: rgb(175, 175, 175);
    opacity: 0.1;
} */

/* --------------Feature Section Css Start Here------------------- */

.Feature{
    height: 80vh;
    background: rgb(255, 252, 247);
    padding: 60px;
}
.SectionHeading{
    text-align: center;
    font-size: 2rem;
}

.FeatureBrand{
    color: #FF731D;
    font-size: 2.1rem;
}
.FeatureSection{
    /* justify-content: space-between; */
    display: flex;
    width: 80%;
    /* align-items: center; */
    margin-left: 140px;
    /* border: 1px solid #FF731D; */
    height: 60vh;
}
.FeatureCard{
    width: 40%;
    height: 40vh;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0px 1px 6px #ff741d96;
    transition: all ease-in-out 0.5s;
    position: relative;
    top: 0px;
    
}
.FeatureCard:hover{
    width: 40%;
    height: 60vh;
    border-radius: 5px;
    background: #ff741df1;
    margin: 10px;
    box-shadow: 0px 1px 6px #ff741d96;
    transition: all ease-in-out 0.5s;
    /* transform: translateY(70px); */
    
}
.FeatureCard:hover .CardText{
    transition: all ease-in-out 0.8s;
    display: block;
}
.CardImg {
    height: 30vh;

}
.CardImg img{
    height: 30vh;
    width: 80%;
    position: relative;
    top: 30px;
    left: 30px;
}
.CardText{
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 20px;
    text-align: justify;
    display: none;
}
